body {
    background-color: rgb(138, 181, 219);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

p {color: rgb(37, 36, 36);}

ul {
    color: rgb(78, 75, 75);
    font-style: italic;
}

.hero {
  text-align: center;
  padding: 20px;
}

.content {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(233, 222, 200);
  border-radius: 8px;
  border-width: 5px;
}

.viz {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}
